<div class="panel panel--perma">
  <article class="pathway">
    <header class="pathway__header">
      <h1 class="pathway__subject flush--top push_quarter--bottom">
        <%= @recordable.subject %>
      </h1>

      <div class="pathway__attribution">
        <figure class="pathway__avatar">
          <%= image_tag "avatar-placeholder.png", class: "avatar pathway__avatar-image" %>
        </figure>
        <div class="pathway__meta">
          <%= Current.account.name %>

          <div class="pathway__date u-hide-on-template">
            <time datetime="<%= Current.account.created_at %>" data-local="time-or-date"><%= Current.account.created_at.strftime("%b %d") %></time>
            <span class="metadata__divider">·</span>
            Pathway with skill list.
          </div>
        </div>
      </div>
    </header>

    <section class="push--ends">
      <div class="formatted_content">
        <%= @recordable.content %>
      </div>
    </section>
  </article>

  <h2 class="thread__headline break break--thick break--flush-left">
    <span>
      <span>
        Skills
      </span>
    </span>
  </h2>

  <section class="thread thread--comments">
    <div class="thread__entries">
      <% @skills.each do |skill| %>
        <article class="thread-entry">
          <header class="thread-entry__header">
            <%= image_tag "avatar-placeholder.png", class: "avatar thread-entry__avatar" %>
            <span class="thread-entry__author"><strong><%= skill.bucket.account.name %></strong></span>
            <span class="thread-entry__options">
            <span class="action-sheet action-sheet--for-thread-entry thread-entry__menu u-position-context u-hide-on-phone">
              <span class="thread-entry__time metadata">
                <time datetime="2020-10-15T09:26:58Z" data-local="time-or-date" title="October 15, 2020 at 11:26am CEST">Oct 15</time>
              </span>
            </span>
          </span>
          </header>
          <div class="thread-entry__content formatted_content">
            <%= skill.skill.content %>
          </div>
        </article>
      <% end %>
    </div>
  </section>

</div>
